DATABASE_URL=postgres://username:pass@pg-31ec738e-automationapp26.l.aivencloud.com:19107/defaultdb?sslmode=require

MONGODB_URI=mongodb+srv://username:password@cluster-automation.6cfdw0f.mongodb.net/?appName=Cluster-automation
MONGO_DB_NAME=automation_app